*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #EBF7F8;
    box-shadow: 0 5px 10px #a2abaf ;
    padding: 0px 7%;
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
}
.nav{
    height: 8em;
    width: 100%;
}
.navbar{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .logo{
    margin-left: -65px;
}
header .navbar ul {
    list-style: none;
    list-style-type: none;
}
header .navbar ul li{
    position: relative;
    list-style-type: none;
    text-decoration: none;
    float:left;
}
header .navbar ul li a {
    font-size: 15px;
    list-style-type: none;
    padding: 20px;
    color: #333;
    display: inline;
}
header .navbar ul li a:hover {
    list-style-type: none;
    text-decoration: none;
    color:orange
}
header .navbar ul li ul {
    position: absolute;
    list-style-type: none;
    left: 0;
    top: 30px;
    width: 250px;
    text-decoration: none;
    background:white;
    display: none;
}
header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid white;
}
header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}
header .navbar ul li:focus-within >ul,
header .navbar ul li:hover > ul{
    display: initial;
}
#menu-bar{
    display: none;

}
header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

.logombl{
    display: none;
}
.carousel{
    /* margin-top: 120px; */
    height: 40em;
    width: 100%;
    background-color: #F5F5F5;
    
    
}
.notice{
    height: 45em;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    
}
.col1{
    height: 45em;
    width: 25em;
    color: #005695;
    
    

}
.col2{
    height: 45em;
    width: 25em;
    display: flex;
    flex-direction: column;
    gap:2em;
    color:#005695;

}
.col3{
    color: #005695;
    height: 45em;
    width: 25em;
    padding: 1em;
}
.img1 {
    height: 20em;
    width: 24em;
    border-radius: 1em 1em;
}


.chairman {
    color: rgb(8, 18, 117);
}

.higherquality{
    height: 15em;
    width: 100%;
    background-image: url('sky.jpg');
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15em;
    padding-top: 3em;
    color: white;
}

.rmbtn{
    border: 2px solid black;
    border-color: white;
    background-color: #3486C0;
    color: white;
    text-decoration-color: white;
    margin-top: 2.5em;
    padding: 15px 32px;
}
.rmbtn:hover{
    cursor: pointer;
    border-color:black;
    background-color: #3486C0;
    color:orange;

}
.ourprogrammes{
    height: 55em;
    width: 100%;
    border-style: groove;
}
.studentclubs{
    height: 45em;
    width: 100%;
    display: flex;
    justify-content: center;
    border-style: groove;
}
.scol1{
    height: 45em;
    width: 36em;
    border-style: groove;

}
.scol2{
    height: 45em;
    width: 36em;
    border-style: groove;

}
.newsupdates{
    height: 35em;
    width: 100%;
    border-style: groove;
}
.studenttestimonials{
    height: 35em;
    width: 100%;
    border-style: groove;

}
.footer{
    height: 45em;
    width: 100%;
    border-style: groove;
}
.sexp{
    display: flex;
    gap: 0.3em;
}
.cb{
    margin-top: 0.5em;

}
.bi{
    color: orange;
    width: 2.2em;
}



@media(max-width:991px){
    body {
        overflow-x: hidden; 
    }
    .logombl{
        display: initial;
    }
    .notice{
        display: flex;
        flex-direction: column;
    }
    .higherquality{
        margin-top: 30em;
        width: 50em;
        height: 20em;
        
    }
     .logo {
        display: none;
    }
    header{
        padding: 20px;
    }
    header label{
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background:#fff;
        border-top: 1px solid black;
        display: none;
    }
    header .navbar ul li {
        width: 100%;
        margin-top: 1.6em;

    }
    header .navbar ul li  ul {
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li {
        background:#eee
    }
    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }
    #menu-bar:checked ~ .navbar {
        display: initial;
    }
    header .navbar ul li a{
        font-size: 30px;
    }

}